# Reading CSV file

In [1]:
import pandas as pd

### Reading Data with Python(file handling)

In [2]:
with open('data/btc-market-price.csv', 'r') as fp:
    print(fp)

<_io.TextIOWrapper name='data/btc-market-price.csv' mode='r' encoding='cp1252'>

In [5]:
with open('data/btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readlines()):
        if index < 10:
            print(index, line)

0 2/4/17 0:00,1099.169125

1 3/4/17 0:00,1141.813

2 4/4/17 0:00,?

3 5/4/17 0:00,1133.079314

4 6/4/17 0:00,-

5 7/4/17 0:00,-

6 8/4/17 0:00,1181.149838

7 9/4/17 0:00,1208.8005

8 10/4/17 0:00,1207.744875

9 11/4/17 0:00,1226.617038

In [6]:
with open('data/btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readlines()):
        if index < 10:
            timestamp, price = line.split(',')
            print(f"{timestamp}: {price}")

2/4/17 0:00: 1099.169125

3/4/17 0:00: 1141.813

4/4/17 0:00: ?

5/4/17 0:00: 1133.079314

6/4/17 0:00: -

7/4/17 0:00: -

8/4/17 0:00: 1181.149838

9/4/17 0:00: 1208.8005

10/4/17 0:00: 1207.744875

11/4/17 0:00: 1226.617038

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Using CSV module

In [7]:
import csv

In [10]:
with open('data/exam_review.csv', 'r') as fp:
    reader = csv.reader(fp, delimiter='>')
    next(reader)
    for index, values in enumerate(reader):
        if not values:
            continue
        fname, lname, age, math, french = values
        print(f"{fname} {lname}, who is {age} years old, scored {math} in Mathematics and {french} in French.")

Ray Morley, who is 18 years old, scored 68,000 in Mathematics and 75,000 in French.
Melvin Scott, who is 24 years old, scored 77 in Mathematics and 83 in French.
Amirah Haley, who is 22 years old, scored 92 in Mathematics and 67 in French.
Gerard Mills, who is 19 years old, scored 78,000 in Mathematics and 72 in French.
Amy Grimes, who is 23 years old, scored 91 in Mathematics and 81 in French.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Using pandas to read CSV file from a URL

In [16]:
csv_url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"
pd.read_csv(csv_url).head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [14]:
csv_url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"
data_from_url = pd.read_csv(csv_url)

### Saving the CSV

In [15]:
data_from_url.to_csv('data/data_from_url.csv')